---
import { List } from "../components/List"
const buyList = [
    'Controller',
    'Bread',
    'Water',
    'Notebook',
    'Math Book',
    'Choco Bar',
    'Milk'
]
interface Props {
    list: string[];
}
---
<h1>Compras de la semana</h1>
<List list={buyList} />
