---
const buyList = [
    'Controller', 
    'Bread', 
    'Water', 
    'Notebook', 
    'Math Book', 
    'Choco Bar', 
    'Milk'];
---
<h1>Compras de la semana</h1>
<ul>
    {buyList.map((item) => <li>{item}</li>)}    
</ul>
